
@charset "UTF-8";

.wrapper {
  }

.q1 q1__content clearfix {
  width: 900px;
  margin: 0;
  padding: 20px;
  background-color: #eff3f4;
}
.q1__content__box:first-child {
  margin-left: 0;  
}

.q1__contents

}

/* 回答はここに書いてね */esr

/* 回答はここに書いてね */

