@charset "UTF-8";
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.q8__btn {
  display: inline-block;
  margin-left: 10px;
  text-align: center;
  cursor: pointer;
}

.q8__btn__small {
  padding: 0 15px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 26px;
}

.q8__btn__common {
  background-color: #00BCD4;
  color: #FFF;
}

.q8__btn__error {
  background-color: #FF4081;
  color: #FFF;
}

.q8__btn__disabled {
  background-color: #E5E5E5;
  color: #FFF;
  cursor: default;
}

.q8__btn__shadow {
  box-shadow: 0 1px 6px rgba(0, 0, 0, .12), 0 1px 4px rgba(0, 0, 0, .12);
}

.q8__btn__middle {
  padding: 0 20px;
  border-radius: 5px;
  font-size: 20px;
  line-height: 32px;
}

.q8__btn__large {
  padding: 0 25px;
  border-radius: 7px;
  font-size: 24px;
  line-height: 38px;
}

.q8--btn .q8__btn:first-of-type {
  margin-left: 0;
}

.q8__form {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ECF1F2;
}

.q8__form__name {
  position: relative;
  margin-bottom: 20px;
}

.q8__form__name:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  content: "";
}

.q8__form__name__title {
  position: relative;
  display: inline-block;
  padding-right: 10px;
  background-color: #ECF1F2;
  font-size: 24px;
  font-weight: bold;
}

.q8__box {
  float: left;
  width: 300px;
}

.q8__box__main > li {
  margin-bottom: 20px;
}

.q8__box__main > li:last-child {
  margin-bottom: 0;
}

.q8__box__main {
  margin-bottom: 20px;
}

.q8__box__items > li:first-child {
  margin-top: 0;
}

.is-required {
  color:#f00;
}

.label {
  float: left;
  width: 100px;
  line-height: 25px;
  text-align: right;
}

.q8__box__items {
  float: right;
  width: 180px;
}

.input {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: #FFF;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
  border:none;
}

.input__original {
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.q8__input {
  border: none;
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: #FFF;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
}

.q8__input:focus {
  box-shadow: 0 0 7px #00BCD4;
}

.q8__box__items {
  cursor: pointer;
}

.q8__prefecture {
  position:relative ;
}

.q8__prefecture:after {
  display:block;
  position: absolute;
  top:4px;
  right: 10px;
  width:8px;  
  height: 8px;
  border-right: 2px solid #E5E5E5;
  border-bottom: 2px solid #E5E5E5;
  transform: rotate(45deg);
  content: "";
  pointer-events: none;
}

.q8__prefecture__items {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: #FFF;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
}

.radio__btn {
  display: none;
}

.radio__btn__text {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
}

.radio__btn__text:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -8px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  content: '';
}

.radio__btn:checked + .radio__btn__text:after {
  position: absolute;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  background-color: #00BCD4;
  border-radius: 50%;
  content: '';
}

.q8__checkbox {
  text-align: right;
}

.q8__checkbox__btn {
  display: none;
}

.checkbox__text {
  position: relative;
  display: inline-block;
  padding-left: 24px;
}

.checkbox__text:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  margin-top: -9px;
  background-color: #fff;
  border: 1px solid #ccc;
  content: '';
}

.q8__checkbox__btn:checked + .checkbox__text:after {
  position: absolute;
  top: 50%;
  left: 6px;
  margin-top: -14px;
  width: 8px;
  height: 16px;
  border-right: 3px solid #00BCD4;
  border-bottom: 3px solid #00BCD4;
  transform: rotate(45deg);
  content: '';
  display:block;
}

.q8__submit__btn {
  text-align: right;
}

.q8__box__items__20 {
  float:right;
  width: 100%;
  text-align: right;
}

.submit-btn {  
  padding: 0 10px;
  border-radius: 5px;
  background-color: #00BCD4;
  color: #FFF;
  cursor: pointer;
  font-size: 16px;
  line-height: 26px;
}

.submit-btn:active {
  background-color: #FFF;
  color: #00BCD4;
}

.q8__comment {
  float: right;
  width: 380px;
}

.comment:focus {
  box-shadow: 0 0 7px #00BCD4;
}

.comment {
  width: 100%;
  height: 203px;
  padding: 10px;
  border-radius: 3px;
  background-color: #FFF;
  font-size: 12px;
  box-sizing: border-box;
  resize: none;
  border: none;
}
/* 回答はここに書いてね */

/* 回答はここに書いてね */
